{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "import",
        "simple-import-sort"
    ],
    "rules": {
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "react/jsx-filename-extension": "off",
        "@typescript-eslint/no-shadow": "off",
        "@typescript-eslint/no-redeclare": "off"
    },
    "extends": ["airbnb-typescript", "plugin:prettier/recommended"],
    "parserOptions": {
        "project": ["./tsconfig.base.json"]
    }
}
